# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
pubspec.lock

# Android
android/.gradle/
android/captures/
android/local.properties
android/key.properties
android/app/*.jks
android/app/*.keystore
*.iml

# IDE
.idea/
.vscode/
*.swp

# macOS
.DS_Store
